body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: auto;
}

body::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none
    ;
}

.icons{
    display: flex;
    gap: 2rem;
}

.texts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}