body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    overflow: auto;
}

body::-webkit-scrollbar{
    display: none;
}

.container{
    margin-top: 3rem;
    padding: 1.5rem;
}

#imageOfUser{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#UserBox{
    box-shadow: 2px 4px 25px black;
    border-radius: 25px;
    height: auto;
    padding: 2rem;
}

#HODBox{
    box-shadow: 2px 4px 25px black;
    border-radius: 25px;
    height: auto;
    padding: 2rem;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
